---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <nav class="navigation post-navigation" role="navigation">
          <div class="nav-links">
        {% if page.previous.url %}
            <span class="meta-nav">Previous Post</span>
                <a href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}

        {% if page.next.url %}
          <span class="meta-nav">Next Post</span>
                <a href="{{page.next.url}}" title="next Post:
{{page.next.title}}">{{page.next.title}} &raquo; </a>
        {% endif %}
        </div>
<p><a href="/">Home</a></p>
        </nav>
</div>

</div>

